form#search
  .search-row
    .search-cell-left Search github repo:
    .search-cell-middle
      input#search_text
    .search-cell-right
      input#search_button('type' = "submit", 'value' = "Send")
